<h1>Editing nklm link</h1>

<%= render "form", step: @step, nklm_link: @nklm_link, btn_text: t('stepNklmEdit') %>

<br>

<div>
  <%= link_to "Show this nklm link", @nklm_link %> |
  <%= link_to "Back to nklm links", nklm_links_path %>
</div>
