<%= turbo_stream_from 'patients' %>

<p style="color: green"><%= notice %></p>

<h1 class="text-2xl font-bold mb-4">Patient*innen</h1>

<% unless Patient.all.empty? %>
<div class="overflow-x-auto mb-6 rounded-lg shadow-md ring-1 ring-gray-25 dark:ring-gray-75 dark:shadow-black bg-white dark:bg-black">
  <table class="w-full">
    <thead>
      <tr>
        <th class="px-4 text-left">Name</th>
        <th class="px-4 text-left">Status</th>
        <th class="px-4 text-left">Kumulative Punktzahl</th>
        <th class="px-4 text-left">Aktionen</th>
      </tr>
    </thead>
    <tbody id="patients">
    <% @patients.sort_by { |patient| patient.title }.each do |patient| %>
      <%= render patient %>
    <% end %>
    </tbody>
  </table>
</div>
<% else %>
<p class="mb-6 px-4 border-l-4 border-blue-100">
  Noch keine Patient*innen angelegt!
</p>
<% end %>

<%= link_to "Neue Patient*in", new_patient_path, class: <<~CLASSES
            p-default shadow-md dark:shadow-black rounded-md bg-blue-100
            text-white hover:cursor-pointer
            CLASSES
            %>
