<div class="relative max-h-screen grow">
    <%= component 'App',
                  render(
                    template: 'content_bundles/show',
                    formats: :json,
                    locals: {
                        content_bundle: @content_bundle
                    })%>
</div>