<p style="color: green"><%= notice %></p>

<%= render @step %>

<div>
  <%= link_to "Edit this step", edit_step_path(@step) %> |
  <%= link_to "Back to patient", edit_patient_path(@step.patient) %>
</div>
