<% flash.each do |type, message| %>
    <div class="absolute bottom-2 right-2 max-w-xs p-default bg-white
                dark:bg-blue-100 text-blue-100 dark:text-white rounded-lg
                opacity-0 animate-begone">
        <%= message  %>
    </div>
<% end %>